
body{margin: auto; }




h5,h1 {margin:0px ;}




.mainworkingarea{
    width: 100%;
    background-color: white;
   
    /* display: flex; */
  justify-content: center; 
  align-items: center;
  
}


.workingarea{
    width: 90%;
    background-color: white;
   
    display: flex;
  justify-content: center; 
  
  margin: auto;
  padding-bottom: 50px;
  
}





.Head1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    
    margin-top: 60px;
    
}


.workingarea2{
    width: 100%;
    background-color: whitesmoke;
    justify-content: center; 
     margin: auto;
     padding-bottom: 20px;
     
     

}
.subworkingarea2{
    width: 90%;
    align-items: center;
    
    background-color: whitesmoke;
    margin: auto;
}


.services1{
    
    display: flex;
    justify-content: space-around;

}


.Services{
    justify-content: center;
    display: flex;
}


.serv{
   
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
     height: 269px;
    width: 366px;
    border-radius: 10px;
    
 }


.workingarea3{
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center; 
     margin: auto;
     padding-bottom: 20px;

 }




.subworkingarea3{
    width: 90%;
    align-items: center;
    
    background-color: rgb(0, 0, 0);
    margin: auto;
 }


.Services2{
    justify-content: center;
    display: flex;
    text-align: center;
    
 }


.Copyright
 {
    
    display: flex;
    justify-content: space-around;

 }


.copy{
   
    background-color: rgb(15, 15, 15);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
     height: 269px;
    width: 366px;
    border-radius: 10px;
    color: white;
    
    
 }

 .btn-1{
     background-color: rgb(212, 0, 0);
      color: white;
 }

 .btn-1:hover{
     transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: rgb(212, 0, 0);
  
 }

 .btn-2{
    color: rgb(212, 0, 0);
     background-color: white; 
 }


 .btn-2:hover{
     transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgb(212, 0, 0);
  color: white;
  
 }

 button{
    padding: 5px;
    height: 40px;
    width: 150px;
    border-radius: 60px;

 }